<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <description>Shiro与Spring整合</description>
    <!-- filter-name这个名字的值来自于web.xml中filter的名字 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--shiro的核心，相当于人类的大脑-->
        <property name="securityManager" ref="securityManager"/>
        <!--登录页面 如果没有登录 访问项目的方法或页面 直接跳转到这个页面  -->
        <property name="loginUrl" value="/login.jsp"></property>
        <!--登录后 在访问没有经过授权的方法或页面时 直接跳转到这个页面  -->
        <property name="unauthorizedUrl" value="/unauthorized.jsp"></property>

        <property name="filters">
            <map>
                <entry key="perms1" value-ref="myPerms"/>
            </map>
        </property>
        <!--过滤器链-->
        <property name="filterChainDefinitions">
            <!-- /**代表下面的多级目录也过滤 -->
            <value>
                <!--直接放行-->
                /login.jsp = anon
               /css/** = anon
                /img/** = anon
                /plugins/** = anon
                /make/** = anon
                /login.do = anon
                <!--当前登录有"企业管理"权限时才能访问/company/list.do方法-->
               <!-- /company/list.do = perms["企业管理"]
                /system/user/list.do = perms["用户管理"]
                /system/role/list.do = perms["角色管理"]
                /system/log/list.do = perms["日志管理"]
                /system/dept/delete.do = perms["删除部门"]-->

                <!--当前登录人有"部门管理和删除部门"权限时才能访问/system/dept/list.do方法-->
                <!--/system/dept/list.do = perms["部门管理","删除部门"]-->
                /system/dept/list.do = perms1["部门管理","删除部门"]
                <!--其他资源必须登录才能访问-->
                /** = authc
            </value>
        </property>
    </bean>

    <bean id="myPerms" class="cn.itcast.filter.MyPermsFilter"/>

<!-- 引用自定义的realm -->
    <bean id="saasRealm" class="cn.itcast.realm.SaaSRealm"/>

    <!--shiro自带的缓存管理-->
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>

    <!--shiro的核心，相当于人类的大脑-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="saasRealm"/>
        <!--使用了缓存-->
        <property name="cacheManager" ref="cacheManager"/>
    </bean>



    <!-- 安全管理器 -->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

    <!--使用注解方式控制权限 开始-->
    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- 生成代理，通过代理进行控制 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true"/>
    </bean>

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!--使用注解方式控制权限 结束-->


</beans>